# Core (Please keep your current versions)
torch==2.8.0
torchvision==0.23.0

# Ultralytics YOLO
ultralytics==8.3.0
ultralytics-thop==2.0.15

# Image & data
opencv-python==4.12.0.88
pillow==11.3.0
numpy==1.26.4
PyYAML==6.0.2
tqdm==4.67.1
psutil==7.0.0
pandas==2.3.1
scipy==1.15.3
pycocotools==2.0.10
matplotlib==3.10.5
seaborn==0.13.2
